/* index.php */ 

 

.bodyindex{ 

     background-image: url(img/pic.png); 
    
     background-repeat: no-repeat; 
    
     background-size: cover; 
    
     max-width: 1500px; 
    
     margin: 0 auto; 
    
     
    
    } 
    
    .form-group{ 
    
     margin-bottom:30px; 
    
    } 
    
    .logoo { 
    
     width: 100px; 
    
 margin-right: 50%; 
    
    } 
    
    .logoo1 { 
    
width: 100px; 
    
 margin-left: 200%; 
    
    } 
    
    .nav-link { 
    
 margin-left: 50px; 
    
    } 
    
     
    
    /* login.php */ 
    
     
    
    .bodylogin { 
    
 background-image: url(img/pic.png); 
    
 background-repeat: no-repeat; 
    
background-size: cover; 
    
    } 
    
    .container{ 
    
padding:100px; 
    
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    
    }  
    /* register.php */ 
.bodyregis { 
    
     background-image: url(img/pic.png); 
     background-repeat: no-repeat; 
     background-size: cover; 
    
 } 
    
.bodybook { 
     max-width: 1600px; 
     margin: 0 auto; 
    }


    /* bookrecord */ 
.square { 

position: absolute; 
    
 width: 200px; 
    
 height: 200px; 
    
 background-color: white; 
    
 z-index: -1; 
    
 top: 50%; 
    
left: 50%; 
    
 transform: translate(-50%, -50%); 
    
 border-radius:20px; 
    
 } 
 .record { 
    z-index: 0; 
    text-align: center;  
    margin-top: 200px;   
 } 
     